<main>
  <h1>My Reusable Model</h1>
  <button (click)="openModal()">Open Modal</button>
</main>
<main>
  <h1>The Entire Page</h1>
  <button (click)="openModal2()">Open Modal</button>
</main>

<app-modal [modalConfig]="modalConfig">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit nulla vel
    tempore minima hic similique assumenda aspernatur voluptatem, corrupti
    saepe?
  </p>

  <p style="margin-top: 20px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, pariatur!
  </p>
</app-modal>

<app-modal [modalConfig]="modalConfig2">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit nulla vel
    tempore minima hic similique assumenda aspernatur voluptatem, corrupti
    saepe?
  </p>
</app-modal>
